html, body {
  margin: 0;
  color: #333333;
  background: #fff;
  font-size: 16px;
  font-family: "Fira Sans",sans-serif;
}

.header {
  color: #ffffff;
  border-top: 3px solid #00ff00;
  background-color: rgba(0,0,0, .5);
}

.content {
  background-color: rgba(0,0,0, .1);
  text-align: center;
}

.content .inner {
  min-height: 400px;
  hr
}

.footer {
  color: #ffffff;
  background-color: rgba(0,0,0, .5);
}

.footer .inner {
  height: 200px;
}

.inner {
  width: 800px;
  height: 100px;
  margin: 0 auto;
}

.inner h1 {
  font-style: "Fira Sans",sans-serif 
  margin: 0;
  text-align: center;
  padding-top: 20px;
}

.inner hr {
  margin: 10;
  color: green;
  width: 140px;
  align: center;
}